{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Main Page{% endblock title%}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bcf71a3d9c.js" crossorigin="anonymous"></script>
    {% block script %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-primary ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Filmweb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{% url 'Main' %}">Home</a>
            <a class="nav-link" href="{% url 'Films' %}">Films</a>
            <a class="nav-link" href="{% url 'Actors' %}">Actors</a>
            {% if request.user.is_superuser %}
                <a class="nav-link" href="{% url 'Roles' %}">Roles</a>
            {% endif %}
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'Profile' %}">My Profile</a>
                <a class="nav-link" href="{% url 'Logout' %}">Logout</a>
            {% else %}
                <a class="nav-link" href="{% url 'Login' %}">Login</a>
                <a class="nav-link" href="{% url 'Register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
{% block body %}
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Premiery</h1>
          <p>Ta strona zawiera dane i zdjecia najnowszych premier w Polsce pobrane za pomoca Beatifulsoup4 ze strony filmwebu.</p>
          <p><a class="btn btn-primary btn-lg" href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/" role="button">Bs4 &raquo;</a></p>
        </div>
      </div>
    <h1></h1>
    <div class="container-fluid">
        <div class="row">
            {% if queryset %}
                {% for movie in data %}
                        <div class="info-column col-lg-2 col-md-4 col-sm-12">
                                <div class="card">
                                    <img src="{{ movie.poster }}" class="card-img-top" alt="{{ movie.title }}">
                                      <div class="card-body">
                                        <h5 class="card-title">{{ movie.title }}</h5>
                                        <p class="card-text">{{ movie.description }}</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                </div>
                        </div>
                {% endfor %}
            {% else %}
            {% for key, val in data.items %}
                            <div class="card" style="width: 18rem;">
                                <img src="{{ val.0 }}" class="card-img-top" alt="{{ key.0 }}">
                                  <div class="card-body">
                                    <h5 class="card-title">{{ key }}</h5>
                                    <p class="card-text">{{ val.1 }}</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                  </div>
                            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="container">

    </div>
    {{ a }}
{% endblock body %}
    <footer class="footer blog-footer bg-primary">
        <div class="container">
            <p>Filmweb sample project <a href="https://czaja.dev/">www.czaja.dev</a> by <a href="https://github.com/mateuszone">@mateuszone</a>.</p>
        </div>

    </footer>
</body>
</html>
