{% extends 'main.html' %}
{% load bootstrap %}
{% block title %}Films{% endblock title %}
{% block script %}
{% endblock %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Actor</th>
            <th scope="col">Role</th>
            <th scope="col">Movie</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for object in data %}
            <tr>
                <th scope="row">{{ object.actor.name }} {{ object.actor.surname }}</th>
                <td>{{ object.role_name }}</td>
                <td>{{ object.film.title }}</td>
                <td><a href="{% url 'Role_modify' object.id %}" class="btn btn-success">Edit Role</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock body %}





